﻿body {
    background-color: lightskyblue;
}

.aum-global-header {
    position: relative;
    zoom: 1;
    background: #ff5200;
    text-align: center;
}

.aum-form__select, .aum-form__input, .aum-form__textarea {
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #c2c5c9;
    border-radius: 2px;
    background: #fff;
    font-size: 16px;
    -webkit-appearance: none;
}

html, button, input, select, textarea {
    color: #1f282d;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.aum-search__title {
    margin: 0 0 5px;
    padding: 0 10px;
    line-height: 24px;
    font-size: 20px;
    color: #1f282d;
}

.aum-form__named-section-content {
    position: relative;
    margin: 0;
}

.aum-form__input, .aum-form__named-section-content_price .aum-form__select-label {
    width: 32.7%;
    margin-bottom: 0;
}

.aum-form__input {
    display: inline-block;
    vertical-align: top;
    padding-left: 8px;
}

.aum-form__box  {
    padding: 0 0 15px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
}

.aum-form__named-section-content_year {
    width: 50%;
}

.aum-form__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 0;
}
.aum-form__tools_fixed {
    position: fixed;
}
.aum-form__tools {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 5px;
    box-sizing: border-box;
    background: #3c3c3c;
    zoom: 1;
    z-index: 10;
    opacity: 0.8;
}
.aum-form__tools-submit {
    float: left;
    border: 1px solid #eaedf1;
    color: #fff;
    font-weight: 700;
}
.aum-form__tools-submit {
    float: right;
    width: 47%;
    font-size: 14px;
    color: #eaedf1;
    background: 0 0;
}
.aum-form__tools-reset {
    float: left;
    width: 47%;
    font-size: 14px;
    color: #eaedf1;
    background: 0 0;
}
.aum-button {
    padding: 8px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #c2c5c9;
    background: #fff;
    color: #ff5200;
}
